.banner{
	background-color:#00356B;
	color:white;
	text-align: center;
}
.searchForm{
	text-align: center;
	
}
ul.noStyle{
	list-style: none;
}
li.autoFit{
	display:inline-block;
}
.table{
	width: 250px;
	height: 250px;
	border: 3px solid blue;
}