{% load staticfiles %}
<head>
<link rel="stylesheet" type="text/css" href="{% static 'web/style.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'web/bootstrap/css/bootstrap.css' %}"></script>
<script type="text/javascript" src="{% static 'web/jquery-3.1.0.min.js' %}"></script>
</head>



{% include "web/searchbar.html" %}

<div class="searchForm">
<form action="{% url 'web:survey'  %}" method="post">
{% csrf_token %}
	<p>Can you help us to describe this image?</p>
	<div style="">
		<img alt="" src="{% static 'web/'%}{{randomImg}}" style="width: 250px; border: 3px solid blue; display: inline-block;">
		<input type="hidden" name="imageID" value="{{img_id}}"/>
		<ul class="noStyle">
		{% for class in classes%}
			<li class="autoFit">
				<input type="radio" name="survey" id="{{class.image_class}}" value="{{class.image_class}}">
				<label for="{{class.image_class}}">{{class.image_class_desc}}</label>
			</li>
		{% endfor %}
		</ul>
		<button class="btn btn-primary" type="submit" >Submit</button>
	</div>
</form>
</div>

