{% load staticfiles %}
<head>
<link rel="stylesheet" type="text/css" href="{% static 'web/style.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'web/bootstrap/css/bootstrap.css' %}"></script>
<script type="text/javascript" src="{% static 'web/jquery-3.1.0.min.js' %}"></script>

</head>
{% include "web/searchbar.html" %}
<table>
  <tbody>
    <tr>
	    <td style="text-align:center;">
	      <img src="{% static 'web/'%}{{img_loc}}"></img
	    </td>
	    <td rowspan=5 style="width:15%; vertical-align:top;">
	    	<!-- This area is for Related images -->
	    	<div class="relatedImages">
	    	Related Images
	    	</div>
	    	images :D
	    </td>
    </tr>
    
    <tr>
      <td style="text-align:center; font-weight:bold">
        <h1>{{title}}</h1>
      </td>
    </tr>
    <tr>
      <td>
        <p>{{abstract}}</p>
      </td>
    </tr>
    <tr>
      <td>
        <p>DOI: {{doi}}</p>
        <p>Volume: {{volume}}</p>
        <p>year: {{year}}</p>
        <p>publisher: {{publisher}}</p>
      </td>
    </tr>
    <tr>
      <td>
        <a target="_blank" href="{{fullText}}">Full Text</a> | <a target="_blank" href="{{pdf}}">PDF</a>
      </td>
    </tr>
  </tbody>
</table>

<style>
img{
height:15em;
}
table{
	margin-left:2em;
}
.relatedImages{
	background-color:#00356B;
	color:white;
}
</style>
