{% load staticfiles %}
<head>
<link rel="stylesheet" type="text/css" href="{% static 'web/style.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'web/bootstrap/css/bootstrap.css' %}"></script>
<script type="text/javascript" src="{% static 'web/jquery-3.1.0.min.js' %}"></script>

</head>
{% include "web/searchbar.html" %}
<h1>Search Results</h1>
<h3>The search term was: <b style="color: Blue">{{term}}</b></h3>
<h3>Number of documents with images found: <b style="color: Blue">{{imageCount}}</b></h3>
<h4>Fields used: {{advSearch}}</h4>
<table>
<tbody>
<tr >

{% for img in searchImages %}
{% if not forloop.counter|divisibleby:6 and not forloop.first %}
<td>

	<a href="{% url 'web:OpenDocument' %}?pmcid={{img.1}}&&img_loc={{img.0}}"><!-- This is not how we should handle images -->
		<label>{{img.2}}</label>
		<img class="" src="{% static 'web/'%}{{img.0.0}}"></img>
	</a>
	
</td>
{% else %}
</tr>
<tr>
<td>

	<a href="{% url 'web:OpenDocument' %}?pmcid={{img.1}}&&img_loc={{img.0}}">
	<label>{{img.2}}</label>
		<img class="" src="{% static 'web/'%}{{img.0}}"></img>
	</a>
</td>
{% endif %}
{% endfor %}

</tr>
</tbody>
</table>

<style>
.table {
    width: 250px;
    height: 250px;
    border: 3px solid blue;
    }
td{
	width:18%;
	border-bottom:solid blue;
	vertical-align:top;
	padding:5px;
}
tr{
	width:100%
}

</style>