{% load staticfiles %}
<script type="text/javascript" src="{% static 'web/jquery-3.1.0.min.js' %}"></script>

<div class="banner">
	<a class="title" href="{% url 'web:index' %}"><h2>Yale Image Finder</h2></a>
</div>
<div class="searchForm">
<div>
<form action="{% url 'web:search' %}" method="post">
{% csrf_token %}
<div style="padding-bottom:10px;">
<input class="searchBar" type="text" size="50" name="searchTerm" style="height:30px; margin-bottom:0px;"/>
		<button class="btn btn-primary" type="submit" >Search</button>
		<select class="classddl">
		<option name="classes" value="all">All</option>
		{% for class in classes%}
		<option name="classes" id="{{class.image_class}}" value="{{class.image_class}}">{{class.image_class_desc}}</option>
		{% endfor %}
		</select>
		<a id="advancedOptions"><label>Advanced options</label></a>
</div>
		
		<div class="advancedSearch">
		<input type="checkbox" name="advSearch" value="image_text_high_recall" id="image_text_high_recall"/>
			<label for="image_text_high_recall">Image Text (High Recall)</label>
		<input type="checkbox" name="advSearch" value="image_text_high_precision" id="image_text_high_precision"/>
			<label for="image_text_high_precision">Image Text (High Precision)</label>
		<input type="checkbox" name="advSearch" value="caption" id="caption"/>
			<label for="caption">Caption</label>
		<input checked="checked" type="checkbox" name="advSearch" value="abstract" id="abstract"/>
			<label for="abstract">Abstract</label>
		<input checked="checked" type="checkbox" name="advSearch" value="title" id="title"/>
			<label for="title">Title</label>
		<input type="checkbox" name="advSearch" value="full_text" id="full_text"/>
			<label for="full_text">Full Text</label>
		</div>
		
</form>
</div>
</div> 

<style>
.advancedSearch{
	display:none;
}
.advancedSearch label{
	display:inline;
}
.classddl{
	margin-left:1em;
	margin-bottom:0px;
	width:8em;
}
a.title{
	color:white;
}
a.title:visited{
	color:white;
}
a.title:hover{
	color:white;
}
</style>

<script>
	$('#advancedOptions').click(function(){
		$('.advancedSearch').toggle();
		
	});
</script>